body {
	width: 700px;
	margin: 20px auto;
}

button,
span {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	width: 100px;
	height: 60px;
	border: none;
	color: #fff;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
	margin: 10px;

}


#start,
#stop {
	background-color: #0077CC;
}

#reset {
	background-color: #FE1A1A;
}

span {
	color: #000;
}
